<html>
<head>
    <meta lang="zh" />
    <title>Django Web Demo</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="../static/css/index.css" />
</head>
</head>
<body>
    <div class="container">
        <div class="mt-5"></div>
        <div class="card">
            <div class="card-header {{showName}}">
                <h2>訪客:{{name}}</h2>
            </div>
            <div class="img-wrapper">
                <img class="card-img-top" src="../static/img/banner.jpg" alt="banner.jpg" width="90%" />
            </div>
            <div class="card-body">
                <p>目前時間為:{{time}}</p>
                <div class="row">
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-info" href="pm25">pm2.5即時資料</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-info" href="pm25-charts">pm2.5即時資料視覺化</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-info" href="pm25-data">pm2.5資料抓取</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-success" href="stock">股票爬蟲</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-warning" href="test_html">HTML練習</a>
                    </div>
                    <div class="col-12 col-md-6 col-lg-3 mt-3">
                        <a class="btn btn-block btn-secondary" href="bmi">BMI計算</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>






