<html>
<head>
    <meta lang="zh" />
    <title>PM2.5 Data</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script>
        $(document).ready(function(){
            $('table thead th a').on('click',function(e){
                //alert($(this).text());
                let _sort = $(this).text();
                let _ascending =!eval(document.all('hidAscend').value);
                document.all('hidSort').value = _sort;
                alert(`sort by: ${_sort} ascending=${_ascending}`);
                document.all('btnSubmit').click();
            })
        })
    </script>
</head>
<body>
    <div class="container">
        <div class="fixed-top">
            <div class="row no-gutters bg-success">
                <div class="col text-center px-2">
                    <h1 class="text-white">PM25每日資料</h1>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="card">
                    <div class="card-body p-0">
                        <table class="table table-striped m-0">
                            <thead>
                                <tr class="bg-warning">
                                    {%for th in theads%}
                                    <th scope="row">
                                        <a class="" href="javascript:void(0);">{{th}}</a>
                                    </th>
                                    {%endfor%}
                                </tr>
                            </thead>
                            <tbody>
                                {%for row in pm25%}
                                    <tr>
                                        {%for col in row%}
                                            <td>{{col}}</td>                       
                                        {%endfor%}
                                    </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="mt-5"></div>
        <div class="fixed-bottom">
            <div class="row no-gutters justify-content-end bg-success">
                <div class="col p-2 text-center text-md-right">
                    <a href="../" class="btn btn-block btn-outline-light">回首頁</a>
                </div>
            </div>
        </div>
    </div>
    <form action="" method="post">
        <input id="hidSort" type="hidden" name="sort" value="">
        <input id="hidAscend" type="hidden" name="ascending" value="{{ascending}}">
        <button id="btnSubmit" class="d-none" type="submit"></button>
    </form>
</body>
</html>






